{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section blog-wrap section-{{ .Type }}" data-type="single-{{ .Type }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 mb-5">
                        <div class="single-blog-item">
                            <div class="text-center">
                                {{ range .Params.Categories }}
                                <span class="text-color text-sm letter-spacing text-uppercase mr-3"><a
                                        href="{{ `categories/` | relLangURL }}{{ . | lower }}"> {{ . | humanize }}</a></span>
                                {{ end }}
                            </div>
<!--                            <h2 class="mt-1 mb-3 text-center">{{ .Title | markdownify }}</h2>-->
                            <div class="blog-item-meta text-center mb-5">
                                {{ if .Params.Author }}
                                    <span class="text-uppercase text-sm mr-3 letter-spacing">
                                        <i class="ti-user mr-1"></i> <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a>
                                    </span>
                                {{ end }}
                                {{ if .PublishDate }}
                                    <span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i>
                                    {{ .PublishDate.Format "January 02, 2006" }}</span>
                                {{ end }}
                            </div>
                            <div class="content">
                                <div class="image">
                                    {{ if .Params.Image }}
                                        <img src="{{ .Params.Image | absURL }}" alt="{{ .Title | markdownify }}" class="img-fluid rounded">
                                    {{ end }}
                                </div>
                                {{.Content}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3 text-center">
                        <ul class="list-inline tag-option">
                            {{ range .Params.Tags }}
                            <li class="list-inline-item mb-2 mb-lg-0"><a href="{{ `tags/` | absLangURL }}{{ . | lower }}"
                                                                         rel="tag">{{ . }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}