$light: #fff;
$primary-color: #e42d02;
$secondary-color: #f5f5f5;
$pink-color: #e10000;
$black:#111;
$black-light: #2b2e3a;
$border-color:#dedede;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Source Sans Pro', sans-serif;
$text-color: #4e5256,
